# Assignment - I

#### Date : 09 May 2023

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#string variable
name = "Tushar"

#list variable
city = ["Ratlam", "Indore"]

#float variable
percentage = 92.80

#tuple variable
marks = (56, 60, 59, 62, 60)

print(type(name))
print(type(city))
print(type(percentage))
print(type(marks))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Answers:
(i) String
(ii) String
(iii) List
(iv) Integer

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [1]:
#Answers

#(i) Used for Division
division = 10/3
#will result in 10 is divided by 3, which gives 3.3333
#gives output in the float format

#(ii) Used for Modulo Division
modulo_division = 10%3
#will result in remainder when 10 is divided by 3, which gives 1
#gives output as an integer 

#(iii) Used for Integer Division
int_division = 10//3
#will result in integer obtained when is divided by 3, which gives 3
#gives output as an integer
#always do rounding down of the output obtained 
#in this case 3.333 -> 3

#(iv) Used for exponentiation
exponentiation = 10**3
#will result in 10 raised to the power 3, which gives 1000
#gives output as an integer

print(f"Use of 10/3 : {division}")
print(f"Use of 10%3 : {modulo_division}")
print(f"Use of 10//3 : {int_division}")
print(f"Use of 10**3 : {exponentiation}")

Use of 10/3 : 3.3333333333333335
Use of 10%3 : 1
Use of 10//3 : 3
Use of 10**3 : 1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [5]:
list = [10, 230.20, "Tushar", 10+2j, True, (12,43,424), [242,434,527], {"name":"Tushar", "age":20}, None, b"hello", {23,4325,6354}]
length = len(list)
for i in range(length):
    print(f"({i+1}) Type of {list[i]} : {type(list[i])}")

(1) Type of 10 : <class 'int'>
(2) Type of 230.2 : <class 'float'>
(3) Type of Tushar : <class 'str'>
(4) Type of (10+2j) : <class 'complex'>
(5) Type of True : <class 'bool'>
(6) Type of (12, 43, 424) : <class 'tuple'>
(7) Type of [242, 434, 527] : <class 'list'>
(8) Type of {'name': 'Tushar', 'age': 20} : <class 'dict'>
(9) Type of None : <class 'NoneType'>
(10) Type of b'hello' : <class 'bytes'>
(11) Type of {6354, 4325, 23} : <class 'set'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [8]:
a = int(input("Enter a number (A): "))
b = int(input("Enter a number (B): "))
print(f"Values of A and B are {a} and {b} respectively")
divisible = bool(a%b == 0)
print(f"Is A divisible by B : {divisible}")
if(divisible):
    print(f"Result of A/B : {a/b}")

Values of A and B are 12 and 3 respectively
Is A divisible by B : True
Result of A/B : 4.0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [9]:
import random
list = [random.randint(0,100) for i in range(25)]
print(f"List of 25 integers is : {list}")
for i in range(len(list)):
    if(list[i]%3 == 0):
        print(f"({i+1}) {list[i]} is divisible by 3")
    else:
        print(f"({i+1}) {list[i]} is not divisible by 3")

List of 25 integers is : [19, 66, 52, 78, 11, 85, 72, 41, 78, 72, 86, 71, 15, 80, 30, 46, 30, 12, 11, 80, 21, 50, 1, 31, 49]
(1) 19 is not divisible by 3
(2) 66 is divisible by 3
(3) 52 is not divisible by 3
(4) 78 is divisible by 3
(5) 11 is not divisible by 3
(6) 85 is not divisible by 3
(7) 72 is divisible by 3
(8) 41 is not divisible by 3
(9) 78 is divisible by 3
(10) 72 is divisible by 3
(11) 86 is not divisible by 3
(12) 71 is not divisible by 3
(13) 15 is divisible by 3
(14) 80 is not divisible by 3
(15) 30 is divisible by 3
(16) 46 is not divisible by 3
(17) 30 is divisible by 3
(18) 12 is divisible by 3
(19) 11 is not divisible by 3
(20) 80 is not divisible by 3
(21) 21 is divisible by 3
(22) 50 is not divisible by 3
(23) 1 is not divisible by 3
(24) 31 is not divisible by 3
(25) 49 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [15]:
"""
Mutable Data Types : Mutable data types are those data types whose values can be changed after their initialization.
Example -> List, Dictionary, Set
"""
print("Mutable Data Types")
list = [13, 34, 56, 78, 90]
dictionary = {"name":"Tushar", "age":20}
set = {24, 67, 23, 94}
print(f"Original List : {list}")
list[0] = 10
print(f"Original Dictionary : {dictionary}")
dictionary["name"] = "Tushar Khanna"
print(f"Original Set : {set}")
set.add(100)
print(f"Modified List : {list}")
print(f"Modified Dictionary : {dictionary}")
print(f"Modified Set : {set}")

"""
Immutable Data Types : Immutable data types are those data types whose values cannot be changed after their initialization.
Example -> Integer, Float, String, Tuple, Boolean
"""
print("\n\nImmutable Data Types")
integer = 10
float = 18.23
string = "Tushar"
tuple = (10, 20, 30)
boolean = True
print(f"Original Integer : {integer}")
print(f"Original Float : {float}")
print(f"Original String : {string}")
print(f"Original Tuple : {tuple}")
print(f"Original Boolean : {boolean}")
try:
    string[0] = "t"
except Exception as e:
    print(e)
try:
    tuple[0] = 20
except Exception as e:
    print(e)

Mutable Data Types
Original List : [13, 34, 56, 78, 90]
Original Dictionary : {'name': 'Tushar', 'age': 20}
Original Set : {24, 67, 94, 23}
Modified List : [10, 34, 56, 78, 90]
Modified Dictionary : {'name': 'Tushar Khanna', 'age': 20}
Modified Set : {67, 100, 23, 24, 94}


Immutable Data Types
Original Integer : 10
Original Float : 18.23
Original String : Tushar
Original Tuple : (10, 20, 30)
Original Boolean : True
'str' object does not support item assignment
'tuple' object does not support item assignment