## Assignment MySQL

#### Q.1 What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is stored in a computer system. Databases are used to store, manage, and retrieve data. They are used in many applications, such as websites, mobile apps, and desktop applications.

SQL databases are relational databases that use structured query language (SQL) to interact with the database. SQL databases are used in many applications, such as websites, mobile apps, and desktop applications. SQL databases are used to store data in tables, which are organized into rows and columns. SQL databases are used to store data in a structured format, which makes it easy to query and retrieve data.

NoSQL databases are non-relational databases that do not use SQL to interact with the database. NoSQL databases are used in many applications, such as websites, mobile apps, and desktop applications. NoSQL databases are used to store data in a non-structured format, which makes it easy to store and retrieve data. NoSQL databases are used to store data in a non-structured format, which makes it easy to store and retrieve data.

#### Q.2 What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. DDL is used to define the structure of the database, such as creating tables, dropping tables, altering tables, and truncating tables.

CREATE is used to create a new table in the database. For example, the following SQL statement creates a new table called `users` with three columns: `id`, `name`, and `email`.

```sql
CREATE TABLE users (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
);
```

DROP is used to drop an existing table from the database. For example, the following SQL statement drops the `users` table from the database.

```sql
DROP TABLE users;
```

ALTER is used to modify an existing table in the database. For example, the following SQL statement adds a new column called `age` to the `users` table.

```sql
ALTER TABLE users ADD COLUMN age INT;
```

TRUNCATE is used to remove all the data from a table without dropping the table itself. For example, the following SQL statement removes all the data from the `users` table.

```sql
TRUNCATE TABLE users;
```

#### Q.3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. DML is used to manipulate the data in the database, such as inserting new data, updating existing data, and deleting existing data.

INSERT is used to insert new data into a table in the database. For example, the following SQL statement inserts a new row into the `users` table with the values `1`, `John Doe`, and `john@ymail.com`.

```sql
INSERT INTO users (id, name, email) VALUES (1, 'John Doe', 'john@ymail.com');
```

UPDATE is used to update existing data in a table in the database. For example, the following SQL statement updates the `name` column of the row with `id` equal to `1` in the `users` table to `Jane Doe`.

```sql
UPDATE users SET name = 'Jane Doe' WHERE id = 1;
```

DELETE is used to delete existing data from a table in the database. For example, the following SQL statement deletes the row with `id` equal to `1` from the `users` table.

```sql
DELETE FROM users WHERE id = 1;
```

#### Q.4 What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. DQL is used to query the data in the database, such as selecting data from a table.

SELECT is used to select data from a table in the database. For example, the following SQL statement selects all the data from the `users` table.

```sql 
SELECT * FROM users;
```

#### Q.5 Explain Primary Key and Foreign Key.

A primary key is a column or a set of columns that uniquely identifies each row in a table. A primary key must be unique for each row in the table and cannot be null. A primary key is used to enforce the uniqueness of the data in the table.

A foreign key is a column or a set of columns that establishes a relationship between two tables. A foreign key is used to link the data in one table to the data in another table. A foreign key is used to enforce referential integrity between the two tables.

#### Q.6 Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [6]:
import mysql.connector as myconn

mydb = myconn.connect(
    host="localhost",
    user="root",
    passwd="5112",
    auth_plugin='mysql_native_password',
    database="bookstore",
)

if (bool(myconn) == True):
    print("Connected to the database")
else:
    print("Connected Failed")
    exit()

mycursor = mydb.cursor()

# showing tables
mycursor.execute("SHOW TABLES")
print("Tables are: ", end="")
for x in mycursor:
    print(x[0], end=", ")

Connected to the database
Tables are: authors, books, customers, order_lines, orders,

1. `cursor()` method: This method is used to create a cursor object that is used to interact with the database. The cursor object is used to execute SQL commands on the database and retrieve the results of the SQL commands. The `cursor()` method returns a cursor object that can be used to interact with the database.

2. `execute()` method: This method is used to execute an SQL command. The SQL command can be a query, an insert, an update, a delete, or any other SQL command. The `execute()` method takes an SQL command as an argument and executes it on the database. The `execute()` method returns the number of rows affected by the SQL command.